<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>トップページ</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.mincss" th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
    </head>
    <body>
        <div class="container">
            <h1>トップページ（仮）</h1>
            <form>
               <button onclick="location.href='/equipment'">一覧</button>
               <button onclick="location.href='/create'">登録</button>
               <button onclick="location.href='/edit'">編集</button>
               <button onclick="location.href='/delete'">削除</button>
            </form>
        </div>
    </body>
</html>
    