<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>トップページ</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.mincss" th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
    </head>
    <body>
        <div class="container">
            <h1>書籍管理システム</h1>
            <form class="form-signin" method="post" th:action="@{/login}" >
               <button onclick="location.href='/equipment/list.html'">一覧</button>
               <button onclick="location.href='./index.html'">登録</button>
               <button onclick="location.href='./index.html'">編集</button>
               <button onclick="location.href='./index.html'">削除</button>
            </form>
        </div>
    </body>
</html>
    