<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>トップページ</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.mincss" th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
    </head>
    <body>
        <div class="container">
            <h1>トップページ（仮）</h1>
            <form>
			<a href='http://44.208.128.247/equipment'><button type="button" >一覧</button></a>
			<a href='http://44.208.128.247/equipment/register'><button type="button" >登録</button></a>
               
            </form>
        </div>
    </body>
</html>
    